/* TitleComponent.css */

.title-header {
  background-color: blue; /* Blue background color */
  color: white; /* Text color */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center/* Center align the title */
}
