/* styles.css */
@font-face {
    font-family: 'Quicksand';
    src: url(/Users/youngjune/Documents/GitHub/AirExpress.frontEnd/public/Quicksand-Light.ttf);
    
}
.Quicksand{
    font-family:'Quicksand';
}
  